 <div class="report" [formGroup]="reportFormGrp">		 	
   	 		<h2>{{'submission' | translate:lang }}</h2>	
     		
   	  		<div class="row">
   				<div class="col-md-6 pull-left">   				    
    		 	    <div class="form-group"><label for="prgrmId" class="required"><span class="field-name">{{'prgrmId' | translate:lang }}</span> <strong class="required">({{ 'required' | translate:lang }})</strong></label> 
    					    <select class="form-control" id="prgrmId" formControlName="prgrmId" required>
								<option label="{{'selectProgramme' | translate:lang }}"></option>  
                      			<option *ngFor="let program of lstPrograms" [value]="program.id">{{program.name}}</option>
                  </select>                 				
					</div>
				</div>
              <div class="col-md-6 pull-left">
                <div  class="form-group"><label for="report_caseNo" class="required"><span class="field-name">{{'caseNumber' | translate:lang }}</span> <strong class="required">({{ 'required' | translate:lang }})</strong></label>
                         <input  class="form-control" id="report_caseNo" formControlName="caseNo" type="text"
                                    maxlength="11" onkeypress="return noEnter(event)"/>
                    </div>
              </div>    
    </div> 