<div id="otherProduct" [formGroup]="otherProductsFrmGrp">
			   	<div class="row">
	   						<div class="col-sm-10">
				   		        <div class="form-group"><label for="name{{index}}"><span class="field-name">Other Name</span></label>					
			    			        <textarea class="form-control" id="name{{index}}" name="name{{index}}" formControlName="name" 
			    			                 placeholder="Other Name" rows="1" cols="100" maxlength="100">
			    			        </textarea>
			    		         </div>
			    		     </div>
			    		</div>					    		 	
			</div>