    <div  [formGroup]="incidentFrmGrp">
         <h2>{{'incidentTitle' | translate:lang }}</h2>
         <app-affected-persons [group]="incidentFrmGrp.controls.affectedPersons"></app-affected-persons>
              <br>
            <div class="row">
                <div class="col-md-6 pull-left">
                    <div class="form-group"><label for="numberAffectedPersons"><span class="field-name">{{'numberAffectedPersons' | translate:lang }}</span></label>
                        <input class="form-control numAffectedPers_validation_CPS" type="text" id="numberAffectedPersons" name="numberAffectedPersons" formControlName="numberAffectedPersons"  onkeypress="return noEnter(event)"/>
                    </div>
                </div>
             </div>
             <div class="row">
                 <div class="col-sm-10">
                    <div class="form-group"><label for="incidentDescription" class="required"><span class="field-name">{{'incidentDescription' | translate:lang }}</span> <strong class="required">({{ 'required' | translate:lang }})</strong></label><br>
                    	<small>{{'charactersRemain' | translate:lang }}<span></span></small>
                    	<textarea class="form-control" id="incidentDescription" name="incidentDescription"  aria-multiline="true" rows="5" cols="100" maxlength="2000"></textarea>
               		</div>
               	</div>
            </div>
    </div>

