 <div   [formGroup]="adminFrmGrp">
       <div class="row">
        <h2>{{'adminTitle' | translate:lang }}</h2>
                 <div class="col-md-6 pull-left">
                  <div class="form-group"><label for="lkpHowAwareIncdtId" class="required"><span class="field-name">{{'lkpHowAwareIncdtId' | translate:lang }}</span> <strong class="required">({{ 'required' | translate:lang }})</strong></label>
                         <select class="form-control" id="lkpHowAwareIncdtId" formControlName="lkpHowAwareIncdtId" required>
                              <option label="{{'lkpHowAwareIncdtIdOption' | translate:lang }}"></option>
                                <option *ngFor="let howAware of lstHowAwares" [value]="howAware.id">{{howAware.name}}</option>
                          </select>
                    </div>
            </div>
       </div>
 </div> 