
 
<div class="report" [formGroup]="reportFoodFrmGrp">
            <h2>Type of Food Product - Section 1</h2>            
            <p>Choose a Food Type first, then a Food Sub-Type. If you do not know the food sub-type, please choose to the best of your knowledge.</p>
            <div class="row">
                <div class="col-md-6 pull-left">
                    <div class="form-group"><label for="lkpCaseTypeId" class="required"><span class="field-name">Food Type</span> <strong class="required">(required)</strong></label>
                        
                          <!--  <select class="form-control" check-food-type id="lkpCaseTypeId" name="lkpCaseTypeId" ng-model="lkpCaseTypeId" required>
                                <option value="">Select Food Type</option>
                                <option ng-repeat="foodType in lstFoodTypes" value="{{foodType.id}}">{{foodType.name}}</option>
                            </select>-->
                    </div>
                </div>            
            </div>           
    </div>
