  <div  [formGroup]="productFrmGrp">
            <h2>{{'productTitle' | translate:lang }} </h2>
             <app-product-common [group]="productFrmGrp"></app-product-common>
            <div class="row">
                <div class="col-md-6 pull-left">
                    <div class="form-group"><label for="product_modelNumber"><span class="field-name">{{'modelNumber' | translate:lang }}</span></label>                         
                         <input class="form-control" type="text" id="product_modelNumber" name="product_modelNumber" formControlName="modelNumber"  maxlength="50" size="60" onkeypress="return noEnter(event)"/>
                    </div>
                </div>
                <div class="col-md-6 pull-right">
                    <div class="form-group"><label for="product_serialNumber"><span class="field-name">{{'serialNumber' | translate:lang }}</span></label>                        
                         <input class="form-control" type="text" id="product_serialNumber" name="product_serialNumber" formControlName="serialNumber"  maxlength="45" size="60" onkeypress="return noEnter(event)"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 pull-left">
                    <div class="form-group"><label for="product_dateCode"><span class="field-name">{{'dateCodes' | translate:lang }}</span></label>                         
                          <input class="form-control" type="text" id="product_dateCode" name="product_dateCode" formControlName="dateCode"  maxlength="50" size="60" onkeypress="return noEnter(event)"/>
                    </div>
                </div>
                <div class="col-md-6 pull-right">
                    <div class="form-group"><label for="product_upc"><span class="field-name">{{'UPC' | translate:lang }}</span></label>                         
                         <input class="form-control" type="text" id="product_upc" name="product_upc" formControlName="upc"  maxlength="20" onkeypress="return noEnter(event)"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 pull-left">
                    <div class="form-group"><label for="product_certification"><span class="field-name">{{'certification' | translate:lang }}</span></label>
                         <input class="form-control" type="text" id="product_certification" name="product_certification" formControlName="certification"  maxlength="50" size="60" onkeypress="return noEnter(event)"/>
                    </div>
                </div>
                <div class="col-md-6 pull-right">
                    <div class="form-group"><label for="product_batchNumber"><span class="field-name">{{'batchNumber' | translate:lang }}</span></label>
                         <input class="form-control" type="text" id="product_batchNumber" name="product_batchNumber" formControlName="batchNumber"  maxlength="45" size="60" onkeypress="return noEnter(event)"/>
                    </div>
                </div>
            </div>                    
   </div>
