
   <div class="report" [formGroup]="reportFormGrp">
       
  <app-report [group]="reportFormGrp"></app-report>
        <div class="row">         
           
              <div class="col-md-6 pull-left">
                  <div class="form-group"><label for="lkpPurposeId" class="required"><span class="field-name">{{ 'purposeOfReport' | translate:lang }}</span> <strong class="required">({{ 'required' | translate:lang }})</strong></label>
                         <select class="form-control" id="lkpPurposeId" name="lkpPurposeId" formControlName="lkpPurposeId">
                              <option label="{{ 'selectPurposeOfReport' | translate:lang }}"></option>  
                                <option *ngFor="let lkpPurpose of  lkpPurposeIds" [value]="lkpPurpose.id">{{lkpPurpose.name}}</option>
                        </select>                         
                  </div>                    
              </div>
        </div>
             
  </div>