<div [formGroup]="incidentVoluntaryFrmGrp">  
     	<h2>Incident/Complaint</h2>     	
    	<div class="row">
    		 <div class="col-md-6 pull-left">
	               <div class="form-group"><label for="lkpNatureOfComplaintId" class="required"><span class="field-name">Nature of Complaint</span> <strong class="required">(required)</strong></label>
	                     <select class="form-control" id="lkpNatureOfComplaintId" name="lkpNatureOfComplaintId" formControlName="lkpNatureOfComplaintId" required>
	                              <option value="">Select Nature of Complaint</option>
                             <!--   <option *ngFor="let lstNatureOfComplaint of  lstNatureOfComplaints" [value]="lstNatureOfComplaint.id">{{lstNatureOfComplaint.name}}</option>-->
	                      </select>
	               </div>	               
	          </div>          
	    </div>
	    <div class="row">
	    	 <div class="col-md-6 pull-left">
	          	   <div class="form-group"><label for="lkpReactnInjuryDeathFlgId"><span class="field-name">Is the complaint associated with an adverse reaction, injury or death</span></label>
	                     <select class="form-control" id="lkpReactnInjuryDeathFlgId" name="lkpReactnInjuryDeathFlgId" formControlName="lkpReactnInjuryDeathFlgId">
	                              <option value="">Select Yes or No or Unknown</option>
                              <!--  <option *ngFor="let lkpReactnInjuryDeathFlgId of  lkpReactnInjuryDeathFlgIds" [value]="lkpReactnInjuryDeathFlgId.id">{{lkpReactnInjuryDeathFlgId.name}}</option>-->	                              
	                      </select>
	               </div>	               
	          </div>	
	    </div>
    	<div class="row">
	         <div class="col-lg-9 pull-left">
	              <div class="form-group"><label for="occuredDate"><span class="field-name">Date of Incident </span><span class="datepicker-format">(<abbr title="Four digits year, dash, two digits month, dash, two digits day">YYYY-MM-DD</abbr>)</span></label>
	                   <input class="form-control" id="occuredDate" name="occuredDate" 
	                               formControlName="occuredDate" hcform-datepicker type="date"    data-rule-dateISO="true"  onkeypress="return noEnter(event)"/>
	              </div>	              
	         </div>	         
	     </div>
	     <div class="row">	     	
		    <div class="col-sm-10"> 	  
		     	 <!-- <div class="form-group"><label for="description" class="required"><span class="field-name">Description (include supplier, importer and/or distributor contact information if available)</span> <strong class="required">(required)</strong></label><br>
		                  <div id="characterRemaining"><small>Characters remaining: <span></span></small></div>
		                  <textarea class="form-control word-wrap hidden-print" msd-elastic id="description" name="description" formControlName="description" cols="150" maxlength="2000"/>
		          </div>-->
		    </div>
	     </div>	     
    </div>