  
    <div [formGroup]="whereGotPrdctFormGrp">
       <div id="section6"><h2>{{'whereGotPrdctTitle' | translate:lang }}</h2></div>
            <div class="row">
                <div class="col-md-6 pull-left">
                    <div class="form-group"><label for="acquiredProductDate{{sectionName}}{{formName}}{{index}}"><span class="field-name">{{'acquiredProductDate' | translate:lang }}</span><span class="datepicker-format">(<abbr title="Four digits year, dash, two digits month, dash, two digits day">YYYY-MM-DD</abbr>)</span></label>
                         <input class="form-control" id="acquiredProductDate{{sectionName}}{{formName}}{{index}}" name="acquiredProductDate{{sectionName}}{{formName}}{{index}}" 
                                formControlName="acquiredProductDate" hcform-datepicker 
                                type="date"  data-rule-dateISO="true"  onkeypress="return noEnter(event)"/>
                    </div>
                </div>
                <div class="col-md-6 pull-right">
                    <div class="form-group"><label for="lkpContactContextId{{sectionName}}{{formName}}{{index}}"><span class="field-name">{{'contactContextId' | translate:lang }}</span></label>
                          <select class="form-control" id="lkpContactContextId{{sectionName}}{{formName}}{{index}}" name="lkpContactContextId{{sectionName}}{{formName}}{{index}}" formControlName="lkpContactContextId">
                                  <option label="{{'lkpContactContextIdOption' | translate:lang }}"></option>
                                  <option *ngFor="let productFromWhom of  lstProductFromWhom" [value]="productFromWhom.id">{{productFromWhom.name}}</option>
                          </select>                   
                    </div>
                </div>
            </div>
    <app-business-contact [group]="whereGotPrdctFormGrp" [sectionName]=sectionName [index]=index [formName]=formName></app-business-contact>       
    </div>
