<div [formGroup]="submitFormfrmGrp">  


  <div><h2>{{ 'submitFormTitle' | translate:lang }}</h2></div>
                <div class="form-group"> 
                         <label for="submitOption" class="required"><span class="field-name">{{ 'submitOptions' | translate:lang }}</span> <strong class="required">({{ 'required' | translate:lang }})</strong></label>
                               <select class="form-control" id="submitOption" name="submitOption" formControlName="submitOption" #optionVal (change)="setOption($event,optionVal.value)">
                                <option label="{{'selectFormOption' | translate:lang }}"></option>
                                <option *ngFor="let submitOption of  lstSubmitOption" [value]="submitOption.id">{{submitOption.name}}</option>
                        </select>                        
                  </div>  
                  <!--     <div  [hidden]="showOption1"> 
                     	<div>
                          <ol>
                            <li>To pring this Incident Report you must use your browser (Internet Explorer, Google Chrome, etc.) print options</li>
                            <li>
                              <p>Mail/courier the printed report to:
                              <br><br>
                                      Incident Report - Consumer Product Safety Directorate<br>
                                      Health Canada<br>
                                      269 laurier Avenue West<br>
                                      Ottawa, ON, Canada<br>
                                      K1A 0K9<br>
                                      Address Locator: 4909A<br>
                                  <p>
                            </li>
                          </ol>
                      </div>
                     </div> -->
                <div  [hidden]="showOption2"> 
                  <ol>
                      <li>{{ 'option2(a)' | translate:lang }}</li>
                      <li>{{ 'option2(b)' | translate:lang }}</li>
                      <li>{{ 'option2(c)' | translate:lang }}</li>
                      <li>{{ 'option2(d)' | translate:lang }}</li>
                  </ol>
                            
    <div class="row"> 
      <p><br>{{ 'belowOptionMessage' | translate:lang }}</p> 
    </div> 
      <div class="row">         
        <div class="col-md-3 pull-left"> 
            <div class="form-group"> 
                  <label for="caseNumber"><span class="field-name">{{ 'caseNumber' | translate:lang }}</span></label> 
                    <input class="form-control" type="text" id="caseNumber" name="caseNumber" formControlName="caseNumber" value="" readonly="readonly"> 
            </div> 
        </div> 
        <div class="col-md-9 pull-right"> 
          <div class="form-group"> 
              <label for="submissionNumber"><span class="field-name">{{ 'submissionNumber' | translate:lang }}</span></label> 
                <input class="form-control" type="text" id="submissionNumber" name="submissionNumber" formControlName="submissionNumber" value="" readonly="readonly"> 
          </div> 
        </div> 
      </div> 
       
                </div>
                <div class="row">         
        <div class="col-md-3 pull-left"> 
            <div class="form-group"> 
                  <label for="formIdentifier"><span class="field-name">{{ 'formIdentifier' | translate:lang }}</span></label> 
                    <input class="form-control" type="text" id="formIdentifier" name="formIdentifier" formControlName="formIdentifier" value="" readonly="readonly"> 
            </div> 
        </div>  	  
      </div>
</div>
