  <div  [formGroup]="manufacturerVoluntaryFrmGrp">
            <h2>Product </h2>
            <p><small>Please include any of the information below that you can find on the product or packaging</small></p>
           <div class="row">
                     <div class="col-md-6 pull-left">		                  
		                   <div class="form-group">                                        		
		                    	<label for="assignCaseNo"><span class="field-name">Case Number assigned by Health Canada</span></label>
		                    		<input class="form-control" type="text" id="assignCaseNo" name="assignCaseNo" formControlName="assignCaseNo" value="" readonly="readonly" onkeypress="return noEnter(event)"/>
		                   </div>
                     </div>
                     <div class="col-md-6 pull-right">
	                      <div class="form-group"><label for="productBrandName" class="required"><span class="field-name">Product Name</span> <strong class="required">({{ 'required' | translate:lang }})</strong></label>
	                           <textarea class="form-control word-wrap hidden-print" name="productBrandName" 
	                                    formControlName="productBrandName" required  rows="1" cols="60" maxlength="100">
	                           </textarea>
	                          
	                      </div>
                     </div>
                 </div>
                 <div class="row">
	                  <div class="col-md-6 pull-left">
	                       <div class="form-group"><label for="productLicenseNumber"><span class="field-name">Licence Number</span></label>
	                            <input class="form-control" type="text" id="productLicenseNumber" name="productLicenseNumber" 
	                                  formControlName="productLicenseNumber"  maxlength="20" size="50" onkeypress="return noEnter(event)"/>
	                       </div>
	                  </div>
	                  <div class="col-md-6 pull-right">
	                       <div class="form-group"><label for="modelNumber"><span class="field-name">Model/Catalogue/Reference Number</span></label>
	                            <textarea class="form-control word-wrap hidden-print" name="modelNumber" formControlName="modelNumber" 
	                                    rows="1" cols="60" maxlength="50">
	                            </textarea>	                            	                           
	                       </div>
	                  </div>
                 </div>
                 <div class="row">
	                  <div class="col-md-6 pull-left">
	                       <div class="form-group"><label for="serialNumber"><span class="field-name">Serial Number</span></label>
	                            <input class="form-control" type="text" id="serialNumber" name="serialNumber" formControlName="serialNumber" 
	                                    maxlength="45" size="70" onkeypress="return noEnter(event)"/>
	                       </div>
	                  </div>
	                  <div class="col-md-6 pull-right">
	                       <div class="form-group"><label for="batchNumber"><span class="field-name">Lot/Batch Number</span></label>
	                            <input class="form-control" type="text" id="batchNumber" name="batchNumber" formControlName="batchNumber" 
	                                    maxlength="45" size="70" onkeypress="return noEnter(event)"/>
	                       </div>	                       
	                  </div>
                 </div>
                 <div class="row">
	                  <div class="col-md-6 pull-left">
	                       <div class="form-group"><label for="upc"><span class="field-name">UPC/Bar Code</span></label>
		                        <input class="form-control" type="text" id="upc" name="upc" formControlName="upc" 
		                                maxlength="20" size="50" onkeypress="return noEnter(event)"/>
		                   </div>
	                  </div>
	                  <div class="col-md-6 pull-right">
	                       <div class="form-group"><label for="dateCode"><span class="field-name">Expiry Date</span></label>
		                        <textarea class="form-control word-wrap hidden-print" name="dateCode" 
		                               formControlName="dateCode"  rows="1" cols="60" maxlength="50">
		                        </textarea>		                           		                        
		                   </div>
	                  </div>
                 </div>
                 <div class="row">
	                  <div class="col-md-6 pull-left">
	                       <div class="form-group"><label for="softwareNameAndVersion"><span class="field-name">Software Name and Version</span></label>
	                            <textarea class="form-control word-wrap hidden-print" id="softwareNameAndVersion" name="softwareNameAndVersion" formControlName="softwareNameAndVersion" 
	                                    rows="1" cols="60" maxlength="60">
	                            </textarea>	                           	                           
	                       </div>	                	
	                  </div>
	                  <div class="col-md-6 pull-right">
	                       <div class="form-group"><label for="availableForEvaluationFlg" class="required"><span class="field-name">Is the Health Product, label or advertising available for evaluation (by selecting "Yes", I authorize Health Canada, upon submission of the health product, label and/or advertising sample, to evaluate it and/or release it to the manufacturer/importer for evaluation.
                              NOTE: Submission of sample(s) to Health Canada relinquishes your ownership rights to that sample.)</span> <strong class="required">({{ 'required' | translate:lang }})</strong>
                 		      </label>
		                        <select class="form-control" id="availableForEvaluationFlg" name="availableForEvaluationFlg"
		                                formControlName="availableForEvaluationFlg" required>
							  			<option value="">Select Yes or No or Unknown</option>
										<!--<option *ngFor="let availableForEvaluationFlg of  availableForEvaluationFlgs" [value]="availableForEvaluationFlg.id">{{availableForEvaluationFlg.name}}</option>-->
								</select>							  
		                  </div>
	                  </div> 
                 </div>     
      <app-manufacturer-voluntary [group]="manufacturerFormGrp" [sectionName]=sectionName [index]=index [formName]=formName></app-manufacturer-voluntary>
      <app-retailer-voluntary [group]="retailerFormGrp" [sectionName]=sectionName [index]=index [formName]=formName></app-retailer-voluntary>

             
   </div>
