  <div  [formGroup]="claimOfConfidentialityFrmGrp">
    <h3>{{'claimOfConfidentialityTitle' | translate:lang }}</h3>
        <div class="form-group"><label for="lkpPrivacyNoticeCbiId" class="required"><span class="field-name">{{'claimMessage' | translate:lang }}
            </span> <strong class="required"> ({{ 'required' | translate:lang }})</strong></label>
                   <select class="form-control" id="lkpPrivacyNoticeCbiId" formControlName="lkpPrivacyNoticeCbiId" required>
                        <option label="{{'lkpPrivacyNoticeCbiId' | translate:lang }}"></option>
                        <option *ngFor="let lkpPrivacyNoticeCb of lkpPrivacyNoticeCbiIds" [value]="lkpPrivacyNoticeCb.id">{{lkpPrivacyNoticeCb.name}}</option>
                   </select>
        </div> 
</div>

        