<p>Available Formsggff</p>


<nav>
	<ul>
	<!--	<li><a routerLink="/consumerEn" routerLinkActive="active">{{'linkTitleConsumer' | translate:lang }}</a></li>
		<li><a routerLink="/cosmeticEn" routerLinkActive="active">{{'linkTitleCosmetic' | translate:lang }}</a></li>
		<li><a routerLink="/foodEn" routerLinkActive="active">{{'linkTitleFood' | translate:lang }}</a></li>
		<li><a routerLink="/industryEn" routerLinkActive="active">{{'linkTitleIndustry' | translate:lang }}</a></li>
		<li><a routerLink="/transportEn" routerLinkActive="active">{{'linkTitleTransport' | translate:lang }}</a></li>	-->
	
		<li><a href="./index.html?formNameP=consumerEn">{{'linkTitleConsumer' | translate:lang }}</a></li>
		<li><a href="./index.html?formNameP=cosmeticEn">{{'linkTitleCosmetic' | translate:lang }}</a></li>
		<li><a href="./index.html?formNameP=foodEn">{{'linkTitleFood' | translate:lang }}</a></li>
		<li><a href="./index.html?formNameP=industryEn">{{'linkTitleIndustry' | translate:lang }}</a></li>
		<li><a href="./index.html?formNameP=transportEn">{{'linkTitleTransport' | translate:lang }}</a></li>	
		
	</ul>			
 </nav> 
 
  <router-outlet></router-outlet> 



