  <div  [formGroup]="productCommonFrmGrp">
            <div class="row">
                <div class="col-md-6 pull-left">
                    <div class="form-group"><label for="productBrandName" class="required"><span class="field-name">{{'productName' | translate:lang }}</span> <strong class="required">({{ 'required' | translate:lang }})</strong></label>
                         <textarea class="form-control" id="productBrandName" name="productBrandName" formControlName="productBrandName" required  rows="1" cols="60" maxlength="100"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
		            <div class="col-md-6 pull-left">
                      <div class="form-group"><label for="productDescription" class="required"><span class="field-name">{{'productDescription' | translate:lang }}</span> <strong class="required">({{ 'required' | translate:lang }})</strong></label><br>
                           <small>{{'charactersRemain' | translate:lang }} <span></span></small>
                           <textarea class="form-control" id="productDescription" name="productDescription" formControlName="productDescription" ng-trim="false" required  rows="5" cols="100" maxlength="1500"></textarea>                       
                      </div>
                </div>
            </div>            
   </div>

