 <div [formGroup]="contactCommonFrmGrp"> 
		<div class="row">          
            <div class="col-md-6 pull-left">
                <div class="form-group"><label for="address{{sectionName}}{{formName}}{{index}}"><span class="field-name">{{'address' | translate:lang }}</span></label>
                     <textarea class="form-control" id="address{{sectionName}}{{formName}}{{index}}" name="address{{sectionName}}{{formName}}{{index}}" formControlName="address"  rows="1" cols="60" maxlength="100"></textarea>
               </div>
            </div>
            <div class="col-md-6 pull-right">
                <div class="form-group"><label for="city{{sectionName}}{{formName}}{{index}}"><span class="field-name">{{'city' | translate:lang }}</span></label>
                     <textarea class="form-control" id="city{{sectionName}}{{formName}}{{index}}" name="city{{sectionName}}{{formName}}{{index}}" formControlName="city"  rows="1" cols="60" maxlength="50"></textarea>                    
                </div>
            </div>
		</div>
        <div class="row">
            <div class="col-md-6 pull-left">
                <div class="form-group"><label for="postalCode{{sectionName}}{{formName}}{{index}}"><span class="field-name">{{'postalCode' | translate:lang }}</span></label>
                     <input class="form-control" type="text" id="postalCode{{sectionName}}{{formName}}{{index}}" name="postalCode{{sectionName}}{{formName}}{{index}}" formControlName="postalCode"  maxlength="10" onkeypress="return noEnter(event)"/>
                </div>
            </div>
        </div>
     <div class="row">
            <div class="col-md-6 pull-left">
                <div class="form-group"><label for="lstCountry{{sectionName}}{{formName}}{{index}}"><span class="field-name">{{'country' | translate:lang }}</span></label>    
					<select class="form-control" id="lstCountry{{sectionName}}{{formName}}{{index}}" formControlName="country" #countryVal  [appSetCountryProvince]="countryVal" (change)="setCountry($event,countryVal.value)">
						<option label="{{'lstCountryOption' | translate:lang }}" ></option>
                        <option *ngFor="let country of lstCountries" [value]="country.id"  >{{country.name}}</option>
					</select>          
                </div>
            </div>
            <div class="col-md-6 pull-right">
                <div class="form-group">
                         <div [hidden]="showOther"><label for="otherCountry{{sectionName}}{{formName}}{{index}}"><span class="field-name">{{'otherCountry' | translate:lang }}</span></label>                            
                              <textarea class="form-control" id="otherCountry{{sectionName}}{{formName}}{{index}}" name="otherCountry{{sectionName}}{{formName}}{{index}}" formControlName="country" 
                                           rows="1" cols="60" maxlength="50"  ></textarea>
                         </div>
                </div>
            </div>            
        </div> 
        <div class="row">
            <div class="col-md-6 pull-left">
                 <div class="form-group">
                    <div [hidden]="showProvince"><label for="lstProvince{{sectionName}}{{formName}}{{index}}"><span class="field-name">{{'province' | translate:lang }}</span></label>
						<select class="form-control" id="lstProvince{{sectionName}}{{formName}}{{index}}" formControlName="provinceRegion">
                                <option label="{{'lstProvinceOption' | translate:lang }}" ></option>
								<option *ngFor="let province of lstProvinces" [value]="province.id">{{province.name}}</option>
						</select>                  
                    </div>
                    <div  [hidden]="showState"><label for="lstState{{sectionName}}{{formName}}{{index}}"><span class="field-name">{{'state' | translate:lang }}</span></label>
						<select class="form-control" id="lstState{{sectionName}}{{formName}}{{index}}" formControlName="provinceRegion" >
                                <option label="{{'lstStateOption' | translate:lang }}"  ></option>
								<option *ngFor="let state of lstStates" [value]="state.id">{{state.name}}</option>
						</select>
                    </div>
                    <div  [hidden]="showOther"><label for="region{{sectionName}}{{formName}}{{index}}"><span class="field-name">{{'region' | translate:lang }}</span></label>
                         <textarea class="form-control" id="region{{sectionName}}{{formName}}{{index}}" name="region{{sectionName}}{{formName}}{{index}}" formControlName="provinceRegion"                                   
                                   rows="1" cols="60" maxlength="50"></textarea>
                    </div>                    
               </div>              
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 pull-left">
                <div class="form-group"><label for="email{{sectionName}}{{formName}}{{index}}" class="required "><span class="field-name">{{'email' | translate:lang }}</span><br> <strong class="required">{{'emailText' | translate:lang }}</strong>{{'emailTextCont' | translate:lang }}</label>
                        <input class="form-control required_group emailValidation" type="text" id="email{{sectionName}}{{formName}}{{index}}" name="email{{sectionName}}{{formName}}{{index}}" formControlName="email"  maxlength="100" size="60" onkeypress="return noEnter(event)"/>
                </div>
            </div>
            <div class="col-md-6 pull-right">
                <div class="form-group"><label for="telephoneNumber{{sectionName}}{{formName}}{{index}}" class="required"><span class="field-name">{{'telephone' | translate:lang }}</span><br> <strong class="required">{{'emailText' | translate:lang }}</strong>{{'emailTextCont' | translate:lang }}</label>
                        <input class="form-control  required_group" type="tel" id="telephoneNumber{{sectionName}}{{formName}}{{index}}" name="telephoneNumber{{sectionName}}{{formName}}{{index}}" formControlName="telephoneNumber"  maxlength="50" size="60" onkeypress="return noEnter(event)"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 pull-left"> 
                <div class="form-group"><label for="faxNumber{{sectionName}}{{formName}}{{index}}"><span class="field-name">{{'fax' | translate:lang }}</span> </label>
                        <input class="form-control" type="tel" id="faxNumber{{sectionName}}{{formName}}{{index}}" name="faxNumber{{sectionName}}{{formName}}{{index}}" formControlName="faxNumber"  maxlength="50" size="60" onkeypress="return noEnter(event)"/>
                </div>
            </div>
        </div>
      
 


				</div>
               

