  <div [formGroup]="privacyNoticeFrmGrp">
  <div><h3>{{'privacyNoticeTitle' | translate:lang }}</h3></div> 
         <div class="form-group"><label for="lkpPersonalInfoReleaseId" class="required"><span class="field-name">{{'lkpPersonalInfoReleaseId' | translate:lang }}</span> <strong class="required">({{ 'required' | translate:lang }})</strong></label> 
                      <select class="form-control" id="lkpPersonalInfoReleaseId" name="lkpPersonalInfoReleaseId" formControlName="lkpPersonalInfoReleaseId" required>
                                        <option label="{{'selectOption' | translate:lang }}"></option>                                     
                                        <option *ngFor="let lkpPersonalInfoReleaseId of lstReleaseInfo" [value]="lkpPersonalInfoReleaseId.id">{{lkpPersonalInfoReleaseId.name}}</option>
                                    </select>
         </div> 
         <div class="form-group"> 
                 <p><small>{{'paragraphA' | translate:lang }} <abbr title="{{'paragraphAbbr ">{{'paragraphText' | translate:lang }}</abbr> {{'paragraphB' | translate:lang }}</small></p> 
                 <p><small>{{'paragraphC' | translate:lang }} <em>{{'paragraphCEm' | translate:lang }}</em>{{'paragraphD' | translate:lang }} 
                 <em>{{'paragraphDEm' | translate:lang }}</em> {{'paragraphE' | translate:lang }}</small></p> 
                 <p><small>{{'paragraphF' | translate:lang }}<em>{{'paragraphCEm' | translate:lang }}</em> {{'paragraphG' | translate:lang }}<em>{{'paragraphCEm' | translate:lang }}</em> {{'paragraphH' | translate:lang }}</small></p>                         
          </div> 
  </div>
