  <div  [formGroup]="userFrmGrp">
            <h2>Information </h2>
            <p><small>Details for a user from Keycloak Server</small></p>
            <div class="row">               
                <div class="col-md-6 pull-left">
                    <div class="form-group"><label for="user_firstName"><span class="field-name">First Name</span></label>                        
                         <input class="form-control" type="text" id="user_firstName" name="user_firstName" formControlName="firstName"  maxlength="45" size="60" onkeypress="return noEnter(event)"/>
                    </div>
                </div>
                 <div class="col-md-6 pull-right">
                    <div class="form-group"><label for="user_lastName"><span class="field-name">Last Name</span></label>                         
                          <input class="form-control" type="text" id="user_lastName" name="user_lastName" formControlName="lastName"  maxlength="50" size="60" onkeypress="return noEnter(event)"/>
                    </div>
                </div>
            </div>
            <div class="row">
                 <div class="col-md-6 pull-right">
                    <div class="form-group"><label for="user_userNamer"><span class="field-name">User Name</span></label>                         
                         <input class="form-control" type="text" id="user_userNamer" name="user_userNamer" formControlName="username"  maxlength="50" size="60" onkeypress="return noEnter(event)"/>
                    </div>
                </div>               
                <div class="col-md-6 pull-left">
                    <div class="form-group"><label for="user_email"><span class="field-name">email</span></label>                         
                         <input class="form-control" type="text" id="user_email" name="user_email" formControlName="email"  maxlength="20" onkeypress="return noEnter(event)"/>
                    </div>
                </div>
            </div>                               
   </div>
