 <div [formGroup]="manufacturerVoluntaryFrmGrp"> 
     <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Manufacturer of the Product</h3></div>
            <div class="panel-body">        	   
                <div class="row"> 
                        <div class="col-md-6 pull-left">
                            <div class="form-group"><label for="lkpContactContextId{{sectionName}}{{formName}}{{index}}" class="required"><span class="field-name">Contact Type</span> <strong class="required">({{ 'required' | translate:lang }})</strong></label>
                                <select class="form-control" id="lkpContactContextId{{sectionName}}{{formName}}{{index}}" name="lkpContactContextId{{sectionName}}{{formName}}{{index}}" formControlName="lkpContactContextId" >
                                            <option value="">Notification Type</option>
                                            <!--<option *ngFor="let lkpContactContext of  lkpContactContextIds" [value]="lkpContactContext.id">{{lkpContactContext.name}}</option>-->
                                    </select> 
                            </div>
                        </div>
                </div> 
                <app-business-contact [group]="manufacturerVoluntaryFrmGrp" [sectionName]=sectionName [index]=index [formName]=formName></app-business-contact>  
           </div>
     </div>    
 </div>
