 <div [formGroup]="submitterCosmeticFrmGrp">
         	<h2>Notifier</h2>      
    <div class="row"> 
            <div class="col-md-6 pull-left">
                <div class="form-group"><label for="lkpContactContextId{{sectionName}}{{formName}}{{index}}" class="required"><span class="field-name">Who are you</span> <strong class="required">(required)</strong></label>
                 <!--      <select class="form-control" id="lkpContactContextId{{sectionName}}{{formName}}{{index}}" name="lkpContactContextId{{sectionName}}{{formName}}{{index}}" formControlName="lkpContactContextId" >
                                <option value="">Select Relationship to injured / involved persons</option>
                                <option *ngFor="let lkpContactContext of  lkpContactContextIds" [value]="lkpContactContext.id">{{lkpContactContext.name}}</option>
                        </select> -->
                </div>
            </div>
    </div> 
        <app-business-contact [group]="submitterCosmeticFrmGrp" [sectionName]=sectionName [index]=index [formName]=formName></app-business-contact>
  </div>
