<h1 property="name" id="wb-cont">User Form</h1>
  <div class="wb-frmvld">    
    <form role="form"  name="hcform" id="hcform" [formGroup]="myForm" (ngSubmit)="save(myForm)" action="#" >			
		<div formGroupName="user">
		<app-user-info [group]="myForm.controls.user"></app-user-info>
		</div>	
	<!--	<div formGroupName="submitForm">
			<app-submit-form [group]="myForm.controls.submitForm"></app-submit-form>
		</div>
		<div class="row">
			<div class="form-group">
					<button type="submit" class="btn btn-lg btn-primary">Proceed to Submit</button>
					<button type="button" class="btn btn-lg btn-primary" (click)="edit()">edit val from url</button>
					<button type="button" class="btn btn-lg btn-primary" (click)="editDefaulVal()">edit default val</button>
					<button type="button" class="btn btn-lg btn-primary" (click)="editSB()">editSB</button>
			</div>			
		</div>	
		<app-how-to-save [form]="myForm"></app-how-to-save>
		<app-how-to-import [form]="myForm"></app-how-to-import>-->
			<div class="row">
				<div class="form-group">
						<button type="button" class="btn btn-lg btn-primary" (click)="add(myForm)">add</button>
						<button type="button" class="btn btn-lg btn-primary" (click)="view(myForm)">view</button>		
						<button type="button" class="btn btn-lg btn-primary" (click)="delete(myForm)">delete</button>		
				</div>
			</div>
	</form>
</div>



