 <div [formGroup]="affectedPersonsFrmGrp">
        <p><small>{{'subParagraph1' | translate:lang }}</small></p>
           
            <p><small>{{'subParagraph2' | translate:lang }}</small></p>
	<app-remove-section-dialogue></app-remove-section-dialogue>    
            <div formGroupName="affectedPerson">
                <div *ngFor="let affectedPerson of getAffectedPersons(affectedPersonsFrmGrp); let i=index">
                    <div [formGroupName]="i">
                            <div class="panel panel-primary">
                                <div class="panel-heading"><h3 class="panel-title">{{'affectedPersonTitle' | translate:lang }} {{i+1}}</h3></div>
                                <div class="panel-body">
                                    <app-affected-person [group]="affectedPersonsFrmGrp.controls.affectedPerson.controls[i]" [index]=i></app-affected-person>               
                                	<button type="button" class="btn btn-lg btn-info pull-right"  (click)="removeAffectedPerson(i)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>{{'removeAffectedPersonBttn' | translate:lang }} </button>
                                </div>
                            </div>
                    </div>
                </div>
            </div>        
            <div class="row">
                <div class="form-group">
                    <button type="button" class="btn btn-lg btn-primary pull-right" (click)="addAffectedPerson()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>{{'addAffectedPersonBttn' | translate:lang }}</button>
                </div>
            </div>
 </div> 
