 <div [formGroup]="submitterIndustryFrmGrp">
         	<h2>{{'submitterTitle' | translate:lang }} </h2>      
    <div class="row"> 
            <div class="col-md-6 pull-left">
                <div class="form-group"><label for="lkpContactContextId{{sectionName}}{{formName}}{{index}}" class="required"><span class="field-name">{{ 'whoAreYou' | translate:lang }}</span> <strong class="required">({{ 'required' | translate:lang }})</strong></label>
                       <select class="form-control" id="lkpContactContextId{{sectionName}}{{formName}}{{index}}" name="lkpContactContextId{{sectionName}}{{formName}}{{index}}" formControlName="lkpContactContextId" >
                                <option label="{{ 'lkpReltnshpAffctdPrsnId' | translate:lang }}"></option>  
                                <option *ngFor="let lkpContactContext of  lkpContactContextIds" [value]="lkpContactContext.id">{{lkpContactContext.name}}</option>
                        </select> 
                </div>
            </div>
    </div> 
        <app-business-contact [group]="submitterIndustryFrmGrp" [sectionName]=sectionName [index]=index [formName]=formName></app-business-contact>
         
        <app-claim-of-confidentiality [group]="submitterIndustryFrmGrp"></app-claim-of-confidentiality>
 </div>
               
